/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, .warp, header, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  background: transparent;
  box-sizing: border-box;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  font-size: 10px;
  color: #333;
  accent-color: #0073CB;
}

a {
  color: #333;
  text-decoration: none;
  background: transparent;
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  width: 100%;
  height: 100vh;
  background: #F9F9F9;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  box-sizing: border-box;
}
.wrap .modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.wrap .modal .modal_slide {
  width: 100%;
  background: #fff;
  padding: 20px;
}
.wrap .modal .modal_slide .modal_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap .modal .modal_slide .modal_title div {
  display: flex;
  padding-bottom: 1.5rem;
}
.wrap .modal .modal_slide .modal_title div:nth-child(1) img {
  width: 2.5rem;
  margin-right: 8px;
}
.wrap .modal .modal_slide .modal_title div:nth-child(1) p {
  font-size: 2.2rem;
  font-weight: 500;
}
.wrap .modal .modal_slide .modal_title div:nth-child(2) img {
  width: 1.2rem;
}
.wrap .modal .modal_slide .modal_title div:nth-child(2) p {
  font-size: 1.2rem;
  margin-right: 8px;
}
.wrap .modal .modal_slide .modal_contents {
  line-height: 2.5rem;
  font-size: 1.4rem;
}
.wrap .modal .modal_btn {
  width: 100%;
  background: #0073CB;
  display: flex;
  font-size: 1.6rem;
  border-radius: 0 0 15px 15px;
  box-shadow: 3px 3px 7px #333;
}
.wrap .modal .modal_btn .left,
.wrap .modal .modal_btn .right {
  padding: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.wrap .modal .modal_btn .left img,
.wrap .modal .modal_btn .right img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 5px;
}
.wrap .modal .modal_btn .right img {
  width: 1rem;
  height: 1.5rem;
  margin-left: 5px;
}
.wrap .modal .modal_btn span {
  border: rgba(255, 255, 255, 0.514) 1px solid;
  height: 20px;
  margin: 1.5rem 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
header .h_t {
  width: 100%;
  padding: 2rem;
  color: #fff;
  background: #0073CB;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .h_t h1 {
  font-size: 2rem;
  font-weight: bold;
}
header .h_t img {
  width: 3rem;
  position: absolute;
  right: 16px;
}
header menu {
  width: 100%;
  padding: 1rem 1rem 1.5rem;
  background: #fff;
  margin: 0 auto;
  z-index: 1;
}
header menu .menu_icon {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
header menu .menu_icon img {
  margin: 8px auto;
  width: 3.5rem;
}
header menu .menu_icon a {
  display: flex;
  flex-direction: column;
  color: #333;
  font-size: 1.25rem;
  text-align: center;
}
header menu .slick-prev {
  background: url(../img/main_menu_p.png);
  margin-right: 0.5rem;
}
header menu .slick-next {
  background: url(../img/main_menu_n.png);
  margin-left: 0.5rem;
}
header menu .slick-arrow {
  width: 1.7rem;
  height: 3rem;
  color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

section {
  background-color: #F9F9F9;
  padding: 0.6rem;
}

.container {
  width: 100%;
  padding-top: 15rem;
}
.container .list {
  z-index: 1;
  width: 100%;
  position: fixed;
  list-style-type: none;
  margin: 1.2rem 0;
  padding: 0;
  display: flex;
  background: #fff;
}
.container .tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  text-decoration: none;
  padding: 1.2rem 0;
  cursor: pointer;
}
.container .tab-button b {
  font-size: 1.4rem;
  font-weight: bold;
}
.container .tab-button p {
  width: 2rem;
  height: 1.2rem;
  background: #EC2B2B;
  color: #fff;
  border-radius: 2rem;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange {
  border-bottom: 4px solid #0073CB;
  border-top: 1px solid white;
  color: black;
  margin-top: -2px;
}

.tab-content {
  display: none;
  padding: 5.5rem 1.2rem 0;
}
.tab-content .tablist {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 1.2rem;
  margin: 1.2rem 0;
  box-shadow: 1px 1px 7px #eee;
}
.tab-content .tablist h2 {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: -0.5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tab-content .tablist h2 span {
  width: 1rem;
  height: 1rem;
  border-radius: 14px;
  background: #0073CB;
  margin-right: 1.4rem;
  display: inline-block;
}
.tab-content .tablist span {
  margin: 1rem 0;
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  display: block;
}
.tab-content .tablist div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show {
  display: block;
}

.revert_btn {
  width: 6rem;
  height: 6rem;
  background: #0073CB;
  border-radius: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1.5rem;
  right: 1.6rem;
}
.revert_btn img {
  width: 3.5rem;
}

@media (min-width: 500px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 700px) {
  :root {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */