.container {
  width: 100%;

  .list {
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    display: flex;
  }
  
  .tab-button {
    display: flex;
    width: 25%;
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }
}

.orange {
  border-bottom: 4px solid orange;
  color: black;
  margin-top: -2px;
}

.tab-content {
  display: none;
  padding: 10px;
}



.show {
  display: block;
}