@import './reset';

$main: #0073CB;
$sup: #F9F9F9;
$red1: #EC2B2B;
$line: #D9D9D9;

@mixin flex_c {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex_a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex_cm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  font-size: 10px;
  color: #333;
  accent-color: #0073CB;
}

a {
  color: #333;
  text-decoration: none;
  background: transparent;
  font-family: 'Noto Sans KR', sans-serif;
}



.wrap {
  background: $sup;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  .modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;

    .modal_text {
      width: 100%;
      background: #fff;
      padding: 20px;
    }
    .modal_btn {
      width: 100%;
      padding: 20px;

    }
  }
}

header {
  width: 100%;
  padding: 34px;
  color: #fff;
  background: $main;
  position: relative;
  @include flex_c;
  position: fixed;
  top: 0;
  z-index: 2;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  img {
    position: absolute;
    right: 16px;
  }
}

menu {
  width: 100%;
  padding: 24px 16px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  padding-top: 124px;

  .menu_btn {
    width: 95%;
    position: absolute;
    @include flex_b;
    bottom: 0;
    top: 0;
  }

  .menu_icon {
    margin: 0 auto;
    @include flex_a;
    font-weight: bold;

    img {
      margin: 8px auto;
    }

    a {
      width: 120px;
      display: flex;
      flex-direction: column;
      color: #333;
      font-size: 1.25rem;
      text-align: center;
      cursor: pointer;
    }
  }

  .slick-prev {
    background: url(../img/main_menu_p.png);
    margin-right: 20px;
  }
  
  .slick-next {
    background: url(../img/main_menu_n.png);
    margin-left: 20px;
  }

  .slick-arrow {
    width: 1.7rem;
    height: 3rem;
    color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    cursor: pointer;
  }
}

.menu_list {
  width: 100%;
  background-color: $sup;

  .tabmenu {
    position: relative;
    width: 100%;
    margin: 14px 0;
    
    ul {
      width: 100%;
      // @include flex_c;
      display: flex;
      
      li {
        width: 25%;
        font-size: 1.5rem;
        
        label {
          background: #fff;
          padding: 24px 0;
          font-weight: bold;
          display: flex;
          @include flex_c;
          
          p {
            line-height: 20px;
            width: 30px;
            text-align: center;
            color: #fff;
            background: $red1;
            border-radius: 14px;
            margin-left: 8px;
            font-size: 1rem;
            font-weight: 200;
          }
        }
        
        input {
          display: none;
        }
      }
    }
  }
  
  .tabCon {
    width: 100%;
    display: none;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 80px;
    box-sizing: border-box;

    .tablist {
      background: #fff;
      border-radius: 4px;
      box-shadow: 1px 1px 7px #eee;
      margin-bottom: 20px;
      padding: 20px;
      
      
      div {
        @include flex_b;
        font-size: 1.35rem;
        font-weight: 400;
        padding: 8px 38px;
        b {
          font-weight: 800;
          margin-right: 10px
        }
        p {
          @include flex_c;
        }
      }
    }
    
    h2 {
      font-size: 1.62rem;
      font-weight: 800;
      letter-spacing: -1.5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      span {
        width: 14px;
        height: 14px;
        border-radius: 14px;
        background: $main;
        margin-right: 24px;
        display: inline-block;
      }

    }

    span {
      margin: 16px 0;
      width: 100%;
      border-bottom: 1px solid $line;
      display: block;
    }
  }

  .tabmenu {
    width: 100%;
    background: $sup;

    input:checked~label {
      border-bottom: #0073CB 4px solid;
      box-sizing: border-box;
    }
  }
  
  .tabmenu input:checked~.tabCon {
    display: block;
  }
  
}

.revert_btn {
  width: 94px;
  height: 94px;
  background: $main;
  border-radius: 94px;
  @include flex_c;
  bottom: 30px;
  right: 35px;
  position: fixed;
}

// @media (max-width: 600px) {
//   :root {
//     font-size: 13px;
//   }
  
//   }

// @media (max-width: 500px) {
//   :root {
//     font-size: 10px;
//   }  
  
//   header {
//     padding: 24px;

//     img {
//       width: 10%;
//     }
//   }

//   menu {
//     padding-top: 80px;
//     padding-bottom: 10px;

//     img {
//     width: 70%;
//   }
//   }

//   .slick-prev {
//     margin-right: 10px;
//   }

//   label {
//     padding: 16px;
//   }
// }  